footer{
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 100px;
    margin-bottom: 30px;
}
.copyright{
    width: 300px;
}

